# WordPress
wp-content/themes/twentyseventeen
wp-content/uploads
wp-content/upgrade
wp-config/secrets.php
wordpress

# Test Suite
tests/data
tests/includes
tests/coverage

# Docker
docker-custom.yml

# Composer
wp-content/plugins/query-monitor
wp-content/db.php
wp-content/vendor

# Development
.idea
node_modules
.DS_Store

# DB Migrations
mysql
!mysql/wptests.sql
