# WordPress Resources
wp-content/themes/twentyseventeen
wp-content/uploads
wp-content/upgrade
wp-config/secrets.php
wordpress

# Docker Resources
docker-custom.yml

# Composer Resources
wp-content/plugins/query-monitor
wp-content/db.php
wp-content/vendor

.idea