<phpunit
        bootstrap="phpunit-bootstrap.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
>
    <testsuites>
        <testsuite name="Foo Bar">
            <directory prefix="class-test-" suffix=".php">../wp-content/plugins/foo-bar/tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">../wp-content/plugins</directory>
            <exclude>
                <directory suffix=".php">../wp-content/plugins/query-monitor</directory>
                <directory suffix=".php">../wp-content/plugins/wp-redis</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>